/* Navbar styles */
.mat-toolbar {
    background-color: #000000 !important;
    color: white;
}

.profile-btn {
    background-color: #3f51b5 !important;
    /* Professional Blue */
    color: #fff !important;
    margin-right: 15px;
    font-weight: 500;
}